{% include 'header.html' %}
    
    <div class="about-container">
        <div class="card">
            <div class="profile-picture">
                <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture">
            </div>
            <div class="bio">
                <h2>About Me</h2>
                <p>Hello! I'm [Your Name], a passionate news enthusiast and the creator of NewsSphere. I have a background in journalism and a deep interest in keeping people informed with the latest and most accurate news. I believe in the power of information and strive to deliver it in the most engaging way possible.</p>
                <p>When I'm not curating news, you can find me exploring new technologies, reading books, or traveling to new places. I'm also active on social media, so feel free to connect with me!</p>
            </div>
            <div class="social-media">
                <h3>Connect with me</h3>
                <a href="https://facebook.com" target="_blank" class="social-link"><img src="{{ url_for('static', filename='facebook-logo.png') }}" alt="Facebook"></a>
                
            </div>
        </div>
    </div>
    
{% include 'footer.html' %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
