{% include 'header.html' %}
<div class="form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend> Login </legend>
            <div>
                {% if error %}
                 <span class="error-message"> {{error}} </span>
                 {% endif %}
                {{ form.email.label()}}
                {{ form.email()}}
            </div>
            <div>
                {{ form.password.label()}}
                {{ form.password()}}
            </div>
            <div>
                {{form.remember.label}}
                {{form.remember}}
            </div>
        </fieldset>
        <div>
            {{ form.submit()}}
        </div>
    </form>
    <div>
        <small> Need An Account ! <a href="{{url_for('register')}}">Sign Up Now </a> </small>
    </div>
</div>

{% include 'footer.html' %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
