<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% include 'header.html' %}
<main>
    <div class="news-container" id="news-container">
        {% for news in saved_news %}
            <div class="news-article" id="news-article">
                {% if news['urlToImage'] != "None" %}
                    <img src="{{ news['urlToImage'] }}" alt="News image">
                {% else %}
                    <img src="{{ url_for('static', filename='News_featured.png') }}" alt="Default news image">
                {% endif %}
                <h3>{{ news['title'] }}</h3>
                {% if news['description'] != "None"%}
                    <p>{{ news['description'] }}</p>
                
                {% endif %}
                <a href="{{ news['url'] }}" target="_blank">Read more...</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ news['url'] }}" class="share-button" target="_blank">
                    <img src="{{ url_for('static', filename='facebook-logo.png') }}" alt="Share on Facebook" class="facebook-logo">
                </a>
           
                <button class="remove-button"
                data-url="{{ news['url'] }}"
                onclick="toggleremoveNews(this)"
                
                >Remove</button>

                
            </div>
        {% endfor %}
    </div>
</main>
{% include 'footer.html' %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
